<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>873029494435-r5mdcnksmv91rb5qabli9envoa34n2qa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.873029494435-r5mdcnksmv91rb5qabli9envoa34n2qa</string>
	<key>API_KEY</key>
	<string>AIzaSyArImVYSuGCaCg2ilsMe7GBJ8C81kcZatE</string>
	<key>GCM_SENDER_ID</key>
	<string>873029494435</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ciccc.checklist</string>
	<key>PROJECT_ID</key>
	<string>callingtime-9e3f6</string>
	<key>STORAGE_BUCKET</key>
	<string>callingtime-9e3f6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:873029494435:ios:ab577aed9a34a4f2b80116</string>
	<key>DATABASE_URL</key>
	<string>https://callingtime-9e3f6.firebaseio.com</string>
</dict>
</plist>